<h1>Add a Word</h1>

<form action="/words" method="post">
  <div class="form-group">
  <label for="word-name">Add a Word to the Dictionary</label>
  <input id="word-name" name="word-name" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
